<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/stsm.css" th:href="@{/css/stsm.css}"/>
</head>
<body>
<div>
    <img src="../../images/book2.png" alt="Book logo" title="Book logo"
         th:src="@{/images/book2.png}" th:alt-title="#{title.application}"/>
</div>
<div th:if="${book}">
<form th:action="@{/add}" th:object="${book}" method="post">
    <div>
        <h1>ADD NEW BOOK TO MARKETPLACE</h1>
    </div>
    <fieldset>
        <div>
            <label for="title"><span th:text="#{book.title}" /></label>
            <input type="text" th:field="*{title}"/><br/>
        </div>
        <div>
            <label for="author"><span th:text="#{book.author}" /> </label>
            <input type="text" th:field="*{author}"/><br/>
        </div>
        <div>
            <label for="author">Price ($): </label>
            <input type="text" th:field="*{price}"/><br/>
        </div>
        <div>
            <label for="cntry">Country: </label>
            <input type="text" th:field="*{cntry}"/><br/>
        </div>
        <div>
            <label for="publisher">Publisher: </label>
            <input type="text" th:field="*{publisher}"/><br/>
        </div>
        <div>
            <button type="submit">Add Book</button>
            <a href="/home" th:href="@{/home}">Back to Home</a>
         </div>
    </fieldset>
</form>
</div>
</body>
</html>