<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Marketplace</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
</head>
<body>
<div>
    <div class="container">
        <h1>Welcome to Book Marketplace</h1>
    </div>
</div>
<div class="container">
    <div class="hero-unit">
        <ul>
            <li><a href="/add" th:href="@{/add}">Add new Book</a></li>
            <li><a href="/search" th:href="@{/search}">Search Book</a></li>
            <li><a href="/list" th:href="@{/list}">List all books</a></li>
        </ul>
    </div>
    <div>&copy; 2016 The Book Marketplace</div>
    <a th:href="@{/logout}">{Logout- placeholder}</a>
</div>
</body>
</html>