<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Marketplace</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/stsm.css" th:href="@{/css/stsm.css}"/>
</head>
<body>
<div>
    <img src="../../images/book2.png" alt="Book logo" title="Book logo"
         th:src="@{/images/book2.png}" th:alt-title="#{title.application}"/>
</div>
<div>
    <div>
        <ul>
            <li><a href="/add" th:href="@{/add}">Add new Book</a></li>
            <li><a href="/search" th:href="@{/search}">Search Book</a></li>
            <li><a href="/list" th:href="@{/list}">List all books</a></li>
        </ul>
    </div>
    <div>&copy; 2016 The Book Marketplace</div>
    <a th:href="@{/logout}">{Logout- placeholder}</a>
</div>
</body>
</html>