<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/stsm.css" th:href="@{/css/stsm.css}"/>
</head>
<body>
<div>
    <img src="../../images/book2.png" alt="book logo" title="book logo"
         th:src="@{/images/book2.png}" th:alt-title="#{title.application}"/>
</div>

<div class="seedstarterlist">
    <h2>BOOKS AVAILABLE IN MARKETPLACE</h2>
    <table>
        <thead>
        <tr>
            <th>ISBN</th>
            <th>TITLE</th>
            <th>AUTHOR</th>
            <th>COUNTRY</th>
            <th>PUBLISHER</th>
            <th>PRICE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${bookList}">
            <td th:text="${{book.isbn}}">Isbn</td>
            <td th:text="${{book.title}}">Title</td>
            <td th:text="${{book.author}}">Author</td>
            <td th:text="${{book.cntry}}">Country</td>
            <td th:text="${{book.publisher}}">Publisher</td>
            <td th:text="${{book.price}}">Price</td>
            <td>
                <a th:href="@{/delete/}+${book.isbn}" href="#">Delete</a>
            </td>
            <td>
                <a th:href="@{/edit/}+${book.isbn}" href="#">Edit</a>
            </td>

            <!--<td>
                <form th:action="@{/edit}" th:object="${book}" method="post">
                    <button type="submit">Edit</button>
                </form>
            </td>-->
        </tr>
        </tbody>
    </table>
</div>
<p/>
<a href="/home" th:href="@{/home}">Back to Home</a>
</body>
</html>