<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
<h1>The List of Books in Marketplace</h1>
<table border="1">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>TITLE</th>
            <th>AUTHOR</th>
            <th>COUNTRY</th>
            <th>PUBLISHER</th>
            <th>PRICE</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="bookDomain: ${bookList}">
            <td th:text="${{bookDomain.isbn}}">Isbn</td>
            <td th:text="${{bookDomain.title}}">Title</td>
            <td th:text="${{bookDomain.author}}">Author</td>
            <td th:text="${{bookDomain.cntry}}">Country</td>
            <td th:text="${{bookDomain.publisher}}">Publisher</td>
            <td th:text="${{bookDomain.price}}">Price</td>
            <td><a th:href="@{/delete/}+${bookDomain.isbn}" href="#"/>Delete</td>
        </tr>
    </tbody>
</table>
<a href="/home">Back to Home</a>
</body>
</html>