<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
        <meta charset="UTF-8">
        <title>Book Marketplace</title>
        <link href="../../resources/css/login.css"
                rel="stylesheet"
              type="text/css"
              th:href="@{/resources/css/login.css}"/>
</head>
<body>
<!--<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Log in</h1>
                    <form >
                            <label for="username">User Name</label>
                            <input type="text" name="username" id="username">
                            <br/>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password">
                        <br/>
                        <button type="submit">Login </button>
                    </form>
                    <hr>
                </div>
            </div> &lt;!&ndash; /.col-xs-12 &ndash;&gt;
        </div> &lt;!&ndash; /.row &ndash;&gt;
    </div> &lt;!&ndash; /.container &ndash;&gt;
</section>-->
<form th:action="@{/login}" method="post">
    <div class="imgcontainer">
        <img src="img_avatar2.png" alt="image" class="avatar">
    </div>

    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <input type="checkbox"> Remember me
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>
</body>
</html>